body {
    font-family: sans-serif;

}
header a{
    background-color: Plum;
    color:black;
    padding:0.5%;
    border-radius:8px;
}
main{
    background-color: MintCream;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer p{
    background-color: white;
    color:black;
}
footer{
    background-color: LavenderBlush;
    text-align: center;
    border: 1px solid;
}
 img{
    background-color: white;
    color:black;
    
}
.img {
    border:1px solid ;
    background-color:LavenderBlush ;
}

.price{
    font-size: 20px;
    color:gray;
}
